div{
    background-color: blue;
    width: 200px;
    height: 200px;
    margin: auto;
    transform: scale(0.5);
}

.div2{
    background-color: blue;
    width: 200px;
    height: 200px;
    margin: auto;
    transform: rotate(80deg);
}